**/target/

### Mac ###
.DS_Store

### Git ###
*.orig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.checkstyle
.settings/
*.launch

### NetBeans ###
nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
work/
target/
classes/

### Spring ###
*.pid
*.springBeans

### Sigar ###
native/

### Ephemeral files ###
src/main/resources/git.properties
log/
logs/

### Jrebel ###
rebel*.xml

### JGiven ###
jgiven-reports/

### Temporary Dev only files ###
src/main/resources/environment/base.yml
src/main/resources/environment/dev.yml

### VS Code ###
.factorypath
#.settings/
.vscode/
tsconfig.json
jsconfig.json

#fortify
*.fpr